* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-image: url("/bg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  color: white;
}

.container {
  display: flex;
  overflow-y: scroll;
  /* Always show vertical scrollbar */
  width: 90vw;
  height: 90vh;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 20px;
  box-sizing: border-box;
  /* Ensure padding and borders are included in the element's dimensions */
}

.container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.section form input,
.section form button {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.section form button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

/* Responsive design for tablets and smaller laptops */
@media (max-width: 768px) {
  .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .section {
    margin: 20px 0;
  }
}

/* Optimized design for mobile devices */
@media (max-width: 480px) {
  .container {
    width: 100vw;
    height: auto;
    border-radius: 0;
    padding: 10px;
  }

  .section h2 {
    font-size: 20px;
  }

  .section form input,
  .section form button {
    font-size: 14px;
    padding: 8px;
  }

  .section {
    margin: 10px 0;
  }
}

.loading {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #c21f99;
  animation: spin 1s ease-in-out infinite;
  text-align: center;
  line-height: 80px;
  font-size: 16px;
  color: black;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Fade transition animation */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}